$white: white;
$dark: #202020;
$gray: #666666;

$font-family-base: 'Roboto', sans-serif;

$body-bg: black;
$body-color: white;
$primary: blue;
$secondary: gray;
$component-active-bg: blue;

$enable-rounded: false;
$enable-shadows: false;
$font-weight-normal: 440;
$card-bg: dark;
$card-border-color: $gray ;
$card-cap-bg: $gray;
